<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arapps.sleepsound.relaxandsleep.naturesounds"
    >


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.utils.MyApplication"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/icon"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.ui.DeleteCustomMixActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.ui.SaveCustomActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.ui.SetTimeActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.ui.PrivacyPolicyActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.ui.SetCustomTimeActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.ui.BedReminderActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.ui.SplashActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.ui.MainActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.ui.SetBedTimeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.ui.MixCustomActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.ui.CustomSelectActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.ui.PlayActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.ui.AdjustMixActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <receiver android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.receiver.ReceiverBedRemind">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.ACTION_UPDATE_BED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.services.SoundPlayerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.receiver.ServiceRemind"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />


        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            android:authorities="com.arapps.sleepsound.relaxandsleep.naturesounds.mobileadsinitprovider"
            android:exported="false"
            android:initOrder="100" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />



    </application>
</manifest>
