<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.utils.MyApplication"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.ui.ExitActivity"
            android:exported="false" />
        <activity
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.ui.DeleteCustomMixActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.ui.SaveCustomActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.ui.SetTimeActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.ui.PrivacyPolicyActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.ui.SetCustomTimeActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.ui.BedReminderActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.ui.SplashActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.ui.MainActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.ui.SetBedTimeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.ui.MixCustomActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.ui.CustomSelectActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.ui.PlayActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.ui.AdjustMixActivityBase"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <receiver
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.receiver.ReceiverBedRemind"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.arapps.sleepsound.relaxandsleep.naturesounds.ACTION_UPDATE_BED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.services.SoundPlayerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.receiver.ServiceRemind"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            android:authorities="com.apphubstudio.sleepingmusic.rainsounds.relaxmusic.whitenoises.mobileadsinitprovider"
            android:exported="false"
            android:initOrder="100" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>